<%- include("partials//header") -%>
  <h1 class="head">Compose</h1>
  <form action="/compose" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" name="title" id="title" type="text">
    </div>
    <div>
      <label for="content">Content</label>
      <textarea class="form-control" cols="60" rows="5" name="content" id="content" type="text"></textarea>
    </div>
    <div>
      <button style="margin-top: 30px;" class="btn btn-primary" type="submit">Publish</button>
    </div>

  </form>
  


<%- include("partials//footer") -%>
